body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.grid {
    background: hsl(0, 0%, 100%);
    width: 95%;
    max-width: 1500px;
    height: 1000px;
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "hero hero hero hero aside2 aside2"
    "aside3 aside3 aside4 aside4 aside2 aside2"
    "aside3 aside3 aside4 aside4 aside5 aside5 ";
}

.item {
    border: 2px solid #464545;
    border-radius: 5px;
  }
  
  .grid .item:nth-child(1) {
    grid-area: hero;
    background-color: blueviolet;
  }
  .grid .item:nth-child(2) {
    grid-area: aside2;
    background-color: aquamarine;
  }
  
  .grid .item:nth-child(3) {
    grid-area: aside3;
    background: yellow;
  }
  .grid .item:nth-child(4) {
    grid-area: aside4;
    background-color: bisque;
  }
  
  .grid .item:nth-child(5) {
    grid-area: aside5;
    background-color: red;
  }

  @media screen and (max-width: 1000px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "hero   hero   hero   hero"
        "hero   hero   hero   hero"
        "aside2 aside2 aside2 aside3"
        "aside4 aside4 aside5 aside3";
    }
  }

  @media screen and (max-width: 750px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "hero   hero   hero"
        "hero   hero   hero"
        "aside2 aside2 aside2"
        "aside4 aside4 aside4"
        "aside3 aside3 aside5"
        "aside3 aside3 aside5";
    }
  }